@model ASP_NET_MVC_Q1.Models.UserModel

<div>
    <label>
        Name:
    </label>
    @Html.DisplayFor(Model => Model.name)
</div>
<div>
    <label>
        Phone:
    </label>
    @Html.DisplayFor(Model => Model.phone)
</div>
<div>
    <label>
        Email:
    </label>
    @Html.DisplayFor(Model => Model.email)
</div>


